<div class="page-header">
  <h1> <%= @company.name %></h1>
</div>

<ul>
  <li>Suffix: <%= @company.suffix %></li>
  <li>Catch Phrase: <%= @company.catch_phrase %></li>
  <li>Email: <%= @company.email %></li>
  <li>Start Date <%= @company.start_date %></li>
  <li>Industry <%= @company.industry %></li>
</ul>
