<div class="page-header">
  <h1> <%= @company.name %></h1>
</div>

<ul>
  <li>Suffix: <%= @company.suffix %></li>
  <li>Catch Phrase: <%= @company.catch_phrase %></li>
  <li>Email: <%= @company.email %></li>
  <li>Start Date <%= @company.start_date %></li>
  <li>Industry <%= @company.industry %></li>
</ul>

<table class="table table-striped">
  <thead>
    <th>Department</th>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td> <%= product.department %></td>
      <td> <%= link_to product.name, company_product_path(@company, product) %></td>
      <td> <%= product.price %></td>
      <td> <%#= link_to "Create Product", new_company_product_path(company), class: "btn btn-info" %></td>
      <td> <%#= link_to "Edit", edit_company_path(company), class: "btn btn-info" %></td>
      <td> <%#= link_to "Delete", company_path(company), method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
